body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    margin: 0; /*Eliminamos separaciones iniciales*/
    padding: 0; /*Eliminamos separaciones iniciales*/
    color: #00ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.form-container .login-container .logo_TG{
    width: 100%;
    height: 120px;
    background-image: url(../Images/Logo_TG_Completo.png);
    background-size: contain;
    background-repeat: no-repeat;/*No repetir el logo en caso de que no ocupe el espacio completo del bloque*/
    background-position: center;
    padding: 10px;
    filter: drop-shadow(0 0 4px #00BFFF); /*Sombra para el logo en png*/
    display: block;
}
.form-container{
    background-color: transparent;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 8px #00ffff;
    border: solid #00ffff;
    padding: 0;
}

.form-container .login-container{
    width: 500px;
    margin: 0 auto;
}
.form-container .login-container > h2{
    text-align: center;
    font-size: 2.5rem;
}
.form-container .login-container > p,
.form-container .login-container > span{
    text-align: center;
}
.form-container .login-container label{
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.form-container .login-container input.date{
    display: block;
    width: 100%;
    height: 25px;
    box-sizing: border-box;
    border: none;
    border-left: solid #00ffff;
    background: transparent;
    color: #00ffff;
    padding: 10px;
    border-radius: 5px;
}
.form-container .login-container input.date:focus{
    outline: solid 1px #00ffff;
}
.form-container .login-container .options{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: #00ffff;
}

.btn{
    height: 40px; /*Alto del boton*/
    width: 100%; /*Ancho del boton*/
    border-radius: 8px; /*Sin bordes*/
    border-color: transparent;
    font-weight: bolder; /*Una letra mas gruesa para el texto del boton*/
    letter-spacing: 3px; /*Habra un espacio entre las letras de 3 pixeles*/
    background: transparent; /*El fondo del boton sera transparente*/
    padding: 0 12px;
    cursor: pointer;/*Al pasar el cursor por el boton cambia su icono*/
    font-size: 12px;
    color: #00ffff;
    display: block;
    
}
.btn.btn-login, .R_password{
    font-size: 12px;
    width: 100%;
    letter-spacing: 2px;
    display: block;
}
.btn:hover{
    background:  #00ffff05;
    border-color: #00ffff;
    box-shadow: 0 0 8px #00ffff; /*Sombra al pasar el cursor sobre el boton de carrito*/
}

.form-container .login-container .providers{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
}
.back .btn-back{
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.form-container .welcome_container{
    background-color: transparent;

    height: 100%;
    width: 55%;
    padding: 0;
    margin: 0;
}

.welcome_container{
    background-image: url(../Images/Logo_TG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;/*No repetir el logo en caso de que no ocupe el espacio completo del bloque*/
    background-position: center;
}


/*breackpoints responsive*/

@media screen and (max-width: 1357px) {
    .form-container{
        width: 95%;

    }
    .form-container .login-container{
        width: 400px;
        margin: 0 auto;
    }

    .form-container .welcome_container{
        width: 40%;
    }
}

@media screen and (max-width: 900px){
    .form-container{
        height: 80%;
    }
    .form-container .login-container{
        width: 350px;
    }
    .form-container .welcome_container{
        display: none;
    }
}